<link rel="import" href="/bower_components/polymer/polymer-element.html">
<dom-module id="poke-label">
  <template>
    <style type="text/css">
      :host {
        display: block;
        width: 100%;
      }
      .label {
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        display: block;
        padding: 0.5rem 0;
        text-align: center;
      }
    </style>
    <span class="label">[[name]]</span>
  </template>
  <script>
    class PokeLabel extends Polymer.Element {
      static get properties() {
        return {
          name: String
        }
      }
      static get is() {
        return 'poke-label'
      }
    }
    customElements.define(PokeLabel.is, PokeLabel)
  </script>
</dom-module>