<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="poke-region.html">
<dom-module id="poke-region-page">
  <template>
    <style>
      :host {
        display: none;
      }
      :host([active]) {
        display: block;
      }
    </style>
    <poke-region class="content" base-url="http://localhost:3000" region="kalos"></poke-region>
  </template>
  <script>
    class PokeRegionPage extends Polymer.Element {
      static get properties () {
        return {
          active: {
            type: Boolean,
            value: false,
            reflectToAttribute: true
          }
        }
      }
      static get is () {
        return 'poke-region-page'
      }
    }
    customElements.define(PokeRegionPage.is, PokeRegionPage)
  </script>
</dom-module>