<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="poke-container.html">
<link rel="import" href="poke-list.html">
<dom-module id="poke-region">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <iron-ajax auto url="[[baseUrl]]/[[region]]" on-response="_onLoadPokemons" handle-as="json" on-error="_handleError">
    </iron-ajax>
    <poke-container>
        <poke-list filter="[[filter]]" pokemons="[[pokemons]]" on-pokemon-capture="_capturePokemon">
          <h2 slot="title" class="title">Official Pokedex Polymer - Region [[region]]</h2>
        </poke-list>
    </poke-container>
  </template>
  <script>
    class PokeRegion extends Polymer.Element {
      static get is() {
        return "poke-region"
      }
      static get properties() {
        return {
          filter: {
            type: String,
            notify: true
          },
          baseUrl: {
            type: String
          },
          region: {
            type: String
          },
          pokemons: {
            type: Array,
            value: function () {
              return []
            },
            readOnly: true
          }
        }
      }
      _capturePokemon(event) {
        const model = event.detail
        model.set('pokemon.captured', true)
      }
      _onLoadPokemons(event) {
        //this.pokemonsList = event.detail.response
        this._setPokemons(event.detail.response)
      }
      _handleError(event) {
        console.error("Error", event.detail)
      }
    }
    customElements.define(PokeRegion.is, PokeRegion)
  </script>
</dom-module>