<link rel="import" href="/bower_components/polymer/polymer-element.html">
<dom-module id="poke-button">
  <template>
    <style>
      :host {
        display: block;
      }
      .poke-container {
        border: none;
        display: block;
        height: 100%;
        width: 100%;
        padding: 0.5rem;
        margin: 0 auto;
      }
      .poke-avatar {
        height: auto;
        max-width: 90%;
      }
      .plant {
        background-color: green;
      }
      .poison {
        background-color: purple;
      }
      .electric {
        background-color: yellow;
      }

    </style>
     <button class$="poke-container [[pokemon.type]]">
        <img class="poke-avatar" src="[[pokemon.icon]]" alt="[[pokemon.name]]" >
      </button>
  </template>
  <script>
    class PokeButton extends Polymer.Element {
      static get properties() {
        return {
          pokemon: {
            type : Object,
            readOnly: false,
            notify: true,
            observer: '_changedName'
          }
        }
      }
      //Change properties after 2 secs
      // ready () {
      //   super.ready()
      //   setTimeout(() => {
      //     this.set('pokemon.type', 'poison')
      //   }, 2000);
      // }

      _changedName () {
        console.log('Name changed', this.pokemon)
      }

      static get is() {
        return 'poke-button'
      }

      _handleClick (event) {
        console.log(event.target, this.get('pokemon.name'))
      }
    }
    customElements.define(PokeButton.is, PokeButton)
  </script>
</dom-module>