<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="poke-search.html">
<link rel="import" href="poke-list.html">
<dom-module id="poke-app">
    <template>
        <style>
            :host {
                display: block;
            }
        </style>
            <h1>Official Pokedex App</h1>
            <poke-search on-search="_search"></poke-search>
            <poke-list filter="[[search]]"></poke-list>t
        </template>
        <script>
            class PokeApp extends Polymer.Element {
                static get is () {
                    return 'poke-app'
                }
                static get properties () {
                    return {
                        search: {
                            type: Object,
                            notify: true
                        },
                        loader: {
                            type: Boolean,
                            value: true, 
                            notify: true,
                            observer: '_changedValue'
                        }
                    }
                }

                _search(event) {
                    event.stopPropagation();
                    this.set('search', event.detail)
                }

                ready () {
                    super.ready()
                    setTimeout(() => {
                        this.set('loader', false)
                    }, 1000);
                }

                _changedValue () {
                    //console.log('Loading finished', this.loader)
                }    
    }
    customElements.define(PokeApp.is, PokeApp)
    </script>
</dom-module>