<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="/bower_components/iron-icon/iron-icon.html">
<dom-module id="poke-search">
  <template>
    <style>
      :host {
        display: block;
      }
      paper-input {
        display: inline-block;
      }
    </style> 
    <paper-input label="Search for a pokemon" type="search" on-value-changed="_changeSearch">
      <iron-icon icon="search" slot="prefix"></iron-icon>
      <!-- <paper-icon-button icon="search" slot="prefix"></paper-icon-button> -->
    </paper-input>
    <paper-checkbox id="pokemon-status" on-change="_changeCheck">Only Captured</paper-checkbox>
    <!-- <input id="pokemon-name" placeholder="pikachu" on-input="_changeSearch"><br> -->
    <!-- <input type="checkbox" id="pokemon-status" on-change="_changeCheck">Captured<br> -->
  </template>
  <script>
    class PokeSearch extends Polymer.Element {
      static get is() {
        return 'poke-search'
      }
      static get properties () {
        return {
          isCaptured: {
            type: Boolean,
            value: false
          },
          queryName: {
            type: String,
            value: ''
          }
        }
      }
      
      _changeSearch (event) {
        this.queryName = event.target.value
        this._sendEvent()
      }
      
      _changeCheck (event) {
        this.isCaptured = event.target.checked
        this._sendEvent()
      }
      
      _sendEvent () {
        const newEvent = new CustomEvent('search', {
          detail: {
            search: this.queryName.toLowerCase(), 
            captured: this.isCaptured
          }
        })
        this.dispatchEvent(newEvent)
      }
    }
    customElements.define(PokeSearch.is, PokeSearch)
  </script>
</dom-module>