<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/app-route/app-location.html">
<link rel="import" href="/bower_components/app-route/app-route.html">
<link rel="import" href="/bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="poke-dex-page.html">
<link rel="import" href="poke-form-page.html">
<link rel="import" href="poke-region-page.html">
<link rel="import" href="poke-container.html">
<dom-module id="poke-app">
  <template>
    <style>
      .loader {
        width: 100%;
        height: 100%;
        background: white;
        display: block;
        top: 0;
        position: absolute;
      }

      .img {
        position: relative;
        top: 40%;
        left: 40%;
      }

      .background {
        background-image: url("http://www.hdfondos.eu/pictures/2014/0310/1/orig_4471.jpg");
        height: 100%;
        width: 100%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-width: 10px;
        border-style: groove;
        border-color: gray;
        opacity: 0.9;
      }

      .navigation {
        padding: 20 20rem auto;
      }

      paper-button {
        background-color:darkgray;
        opacity: 0.6;
      }
    </style>
    <!-- <template is="dom-if" if="{{loader}}">
      <div class="loader">
        <img class="img" src="https://loading.io/spinners/earth/lg.earth-globe-map-spinner.gif" />
      </div>
    </template> -->
    <!-- <template is="dom-if" if="{{!loader}}"> -->
    <div class="background">
      <app-location route="{{route}}"></app-location>
      <app-route route="{{route}}" pattern="/" active="{{homeActive}}"></app-route>
      <app-route route="{{route}}" pattern="/poke-new" active="{{newActive}}"></app-route>
      <app-route route="{{route}}" pattern="/regions/kalos" active="{{kalosActive}}"></app-route>
      <main>
        <poke-container>
          <div class="navigation">
            <nav>
              <paper-button raised><a href="/">Home</a></paper-button>
              <paper-button raised><a href="/poke-new">New Pokemon</a></paper-button>
              <paper-button raised><a href="/regions/kalos">Kalos</a></paper-button>
            </nav>
          </div>
        </poke-container>
        <poke-dex-page active={{homeActive}}></poke-dex-page>
        <poke-form-page active="{{newActive}}"></poke-form-page>
        <poke-region-page active="{{kalosActive}}"></poke-region-page>
      </main>
      <!-- </template> -->
    </div>
  </template>
  <script>
    class PokeApp extends Polymer.Element {
      static get is() {
        return 'poke-app'
      }
      static get properties() {
        return {
          search: {
            type: Object,
            notify: true
          },
          loader: {
            type: Boolean,
            value: true,
            notify: true,
            observer: '_changedValue'
          }
        }
      }

      _search(event) {
        event.stopPropagation();
        this.set('search', event.detail)
      }

      ready() {
        super.ready()
        // setTimeout(() => {
        //   this.set('loader', false)
        // }, 1500);
      }

      _changedValue() {
        //console.log('Loading finished', this.loader)
      }
    }
    customElements.define(PokeApp.is, PokeApp)
  </script>
</dom-module>