<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="poke-card.html">
<dom-module id="poke-list">
  <template>
    <style>
      :host {
        display: block;
      }
      ::slotted(.title) {
        font-size: 1.2rem;
        font-style: italic;
      }
    </style>
    <slot name="title">
      <h2>Pokedex oficial de polymer titulo default</h2>
    </slot>
    <slot></slot>
    <template is="dom-repeat"
    items="{{pokemons}}"
    as="pokemon"
    filter="{{_pokemonFilter(filter)}}">
    <poke-card pokemon="[[pokemon]]" on-click="_capture"></poke-card>
  </template>
</template>
<script>
  class PokeList extends Polymer.Element {
    static get properties () {
      return {
        pokemons: {
          type: Array,
          value: [],
          notify: true
        },
        filter: {
          type: String
        }
      }
    }
    
    static get is () {
      return 'poke-list'
    }
    
    _capture (event) {
      /*const index = event.model.index
      const path = 'pokemons.' + index + '.captured'
      this.set(path, true)*/
      event.model.set('pokemon.captured', true)
    }
    
    _handleError (event, request) {
      console.error(request.error)
    }
    
    _loadPokemons (event) {
      this._setPokemons(event.detail.response)
    }
    
    _pokemonFilter(filter) {
      console.log("poke-list", filter)
      
      if (!filter.search && !filter.captured) {
        return null
      }
      return function (pokemon) {
        if (filter.captured) {
          return pokemon.captured && pokemon.name.indexOf(filter.search) > -1;
        } else {
          return pokemon.name.indexOf(filter.search) > -1;
        }
      }
    }
    
    _pokemonFilter2(filter) {
      return function (pokemon) {
        if (filter.captured) {
          return !pokemon.captured && pokemon.name.indexOf(filter) > -1;
        } else {
          return pokemon.name.indexOf(filter) > -1
        }
      }
    }
    
  }
  customElements.define(PokeList.is, PokeList)
</script>
</dom-module>